{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block main %}
{% if not current_user.is_authenticated %}
<div class="columns">
    <div class="column"></div>
    <div class="column">
        <h1 class="center">Certificados SMED</h1>
        <form action="/login" method="POST">

            <div class="field">
                <p class="control has-icons-left has-icons-right">
                    <input class="input" type="email" placeholder="Email" name="email">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>

                    <span class="icon is-small is-right">

                        <i class="fas fa-check"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" type="password" placeholder="Password" name="password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <button class="button is-success" type="submit">
                        Login
                    </button>
                    <a href="/register">Ainda não é cadastrado(a)?</a>
                </p>
            </div>
        </form>
        
    </div>
    <div class="column"></div>
</div>
{% endif %}
{% endblock %}
{% block script %}{% endblock %}